.g-config-breadcrumb-container

.panel-group#g-wt-dm-options
  .panel.panel-default
    .panel-heading
      .panel-title WholeTale Data Manager Configuration
      .panel-body
        form#g-wt-dm-config-form.g-wt-dm-config-form(role="form")
          .form-group
            label.control-label(for="g-wt-dm-private-storage-path") Private Storage Path
            input#g-wt-dm-private-storage-path.input-sm.form-control(
                type="text", placeholder="Private Storage Path")
          .form-group
            label.control-label(for="g-wt-dm-private-storage-capacity") Private Storage Capacity (bytes)
            input#g-wt-dm-private-storage-capacity.input-sm.form-control(
                type="text", placeholder="Private Storage Capacity")
          .form-group
            label.control-label(for="g-wt-dm-gc-run-interval") File GC Run Interval (seconds)
            input#g-wt-dm-gc-run-interval.input-sm.form-control(
                type="text", placeholder="File GC Run Interval")
          .form-group
            label.control-label(for="g-wt-dm-gc-collect-start-fraction") File GC Collection Start Fraction
            input#g-wt-dm-gc-collect-start-fraction.input-sm.form-control(
                type="text", placeholder="File GC Collection Start Fraction")
          .form-group
            label.control-label(for="g-wt-dm-gc-collect-end-fraction") File GC Collection End Fraction
            input#g-wt-dm-gc-collect-end-fraction.input-sm.form-control(
                type="text", placeholder="File GC Collection End Fraction")
          p#g-wt-dm-config-error-message.g-validation-failed-message()
          input.btn.btn-sm.btn-primary(type="submit", value="Save")
